#greycol{
    color: grey ;
} 
.yellow{
    color: yellow;
} 
h3:first-child{                                                                                                                                                                                                                                                                                                                                                                                                                                            
    color: pink;
}
.text-box>div>p{
    color: red;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
} 
p:nth-child(7){
    color: green;
} 

  /* Task2 */ 

ul{
    list-style: none;
} 
a{
    text-decoration: none;
}
.list{
    display: flex;
} 
.hover-link:hover{
    color: fuchsia;
} 
.focus-link:focus{
    background-color: skyblue;
}




